In [21]:
# 1.) print hello word
print("hello word")

hello word

In [6]:
# 2.) program to add two numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
sum= float(num1) + float(num2)
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 7.8
Enter second number: 9
The sum of 7.8 and 9 is 16.8

In [24]:
# 3.) program to calculate square root
import math
n=int(input("Enter a number "))
a=print(math.sqrt(n))

Enter a number 9
3.0

In [15]:
# 4.) program to calculate area of triangle
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 15
Enter second side: 20
Enter third side: 23
The area of the triangle is 148.07

In [16]:
# 6.) program to swap two variables
x = input('Enter value of x: ')
y = input('Enter value of y: ')

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 9876
Enter value of y: 3456
The value of x after swapping: 3456
The value of y after swapping: 9876

In [20]:
# 7.) program to generate a random variable
import random

print(random.randint(0,9))

1

In [22]:
# 8.) program to converts kilometres to miles
kilometers = float(input("Enter value in kilometers: "))


conv_fac = 0.621371


miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 4
4.00 kilometers is equal to 2.49 miles

In [26]:
# 9.) program to calculate celsius to fahrenheit
c=int(input("Enter the tempreture in celsius"))
f=(c*(9/5))+32
print("tempreture in fahrenheit is ",f)

Enter the tempreture in celsius37
tempreture in fahrenheit is  98.60000000000001

In [29]:
# 10.) check a number positive negative or zero
n=int(input("Enter a  number "))
if n>0:
    print("number is postive")
elif(n==0):
    print("Number is zero ")
else:
    print("Number is negative")

Enter a  number 0
Number is zero

In [31]:
# 11.) check a number even or odd

n=int(input("Enter a number "))
if n%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number 0
Number is even

In [32]:
# 12.) check a leap year
year=int(input("Enter a year "))
if year%400==0:
    print("year is leap year ")
elif year%100==0:
    print("year is not leap yaer ")
elif year%4==0:
    print("year is leap year ")
else:
    print("year is not a leap")

Enter a year 9007
year is not a leap

In [33]:
# 13.) find the largest among three number
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
if a>b and a>c:
    print("a is gretest number ")
elif b>c:
    print("b is gretest number ")
else:
    print("c is gretest number ")

Enter first number 7
Enter second number 3
Enter third number 9
c is gretest number

In [3]:
# 14.) check a number prime or not
n=int(input("Enter a number "))
flag=0
for i in range (2,n):
    if n%i==0:
        flag=1 
if flag==0:
    print(n,"is prime number")

Enter a number 7
7 is prime number

In [4]:
# 15.) check prime number in a given intervel

st=int(input("Enter starting point"))
en=int(input("Enter ending point"))
for i in range(st,en+1,1):
    flag=0
    for j in range(2,i):
        if i%j==0:
            flag=1
    if flag==0:
        print(i)

Enter starting point2
Enter ending point100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [6]:
# 16.) factorial of a number
n=int(input("Enter a number "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial is ",fact)

Enter a number 5
factorial is  120

In [3]:
# 17.) display the multiplication table
n=int(input("Enter the number up to table be print "))
mul=1
for i  in range(1,n+1):
    for j in range(1,11):
        mul=i*j 
        print(mul,end=" ")
    print()

Enter the number up to table be print 8
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80

In [5]:
# 18.)fibonacci  sequence
n=int(input("Enter a numer ut to series be printed "))
p=1
pp=0 
print(pp)
print(p)
for i in range(n-1):
    nx=p+pp
    print(nx)
    pp=p
    p=nx

Enter a numer ut to series be printed 6
0
1
1
2
3
5
8

In [4]:
# 19.) check armstrong number
n=int(input("Enter a number "))
res=0
sum=0
temp=n
while temp!=0:
    res=temp%10
    sum=sum+res**3
    temp=temp//10
if n==sum:
    print("Number is armstrong")

Enter a number 153
Number is armstrong

In [6]:
# 21.) sum of n natural number 
n=int(input("Enter the number up to sum "))
sum=0
for i in range(1,n+1):
    sum=sum+i 
print("sum is ",sum)

Enter the number up to sum 20
sum is  210

In [12]:
# 22.) power of 2 using anonymous function
pow=lambda n:n**2
n=int(input("enter a number "))

print(pow(n))

enter a number 4
16

In [8]:
# 23.) find the divisibilty of another number
a=int(input("Enter the first number "))
b=int(input("Enter second number "))
if a%b==0:
    print(a,"is divisible by",b)

Enter the first number 30
Enter second number 10
30 is divisible by 10

In [1]:
# 31.) display calendar
import calendar
year=int(input("Enter the year "))
month=int(input("Enter the month"))
print(calendar.month(year,month))

Enter the year 2021
Enter the month9
   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [2]:
# 32.fibbonacci sequnce using recursion
def fib(a):
    if a==0 or a==1:
        return a
    else:
         return fib(a-1)+fib(a-2)
n=int(input("Enter the number up to series be print "))
for i in range(n+1):
    print(fib(i))

Enter the number up to series be print 10
0
1
1
2
3
5
8
13
21
34
55

In [3]:
# 33.) sum of n natural number by using recursion
def sum(x):
    s=0
    if x==0:
        return s
    else:
        return s+x+sum(x-1)
n=int(input("enter a number up to sum be print "))
print(sum(n))

enter a number up to sum be print 10
55

In [4]:
# 34.) factorial of a number using recursion
def fact(x):
    f=1
    if x==0 or x==1:
        return 1
    else:
        return x*fact(x-1)
 
n=int(input("Enter a number "))
print(fact(n))

Enter a number 4
24

In [5]:
# 35.) convert a decimal number to binary by recursion
def dec_bin(x):
    if x>=1:
        dec_bin(x//2)
    print(x%2,end="")
      
if __name__ == '__main__':
    num=int(input("Enter a decimal  number "))
    print("The binary number is " ) 
    dec_bin(num)

Enter a decimal  number 5
The binary number is
0101

In [6]:
# 36.add of two matrix
mat1=[1,3,5],[2,4,7],[23,13,22]
mat2=[2,45,34],[12,13,14],[11,10,12]
mat3=[0,0,0],[0,0,0],[0,0,0]

for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat3[i][j]=mat1[i][j]+mat2[i][j]
print(mat3)

([3, 48, 39], [14, 17, 21], [34, 23, 34])

In [ ]:
# 37.) transpose a matrix
mat1=[]
tra=[]
r=int(input("Enter the number of row "))
c=int(input("Enter the number of coloum"))
print("Enter the element of matrix ")
for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
    mat1.append(a)   
   
    
    '''logic for transpose '''
for i in range(c):
    for j in range(r):
        tra[i][j]=mat1[j][i]
        
for i in range(2):
    for j in range(1):
        print(tra[i][j],end=' ')
    print()

## 38.) program to  multiply two matrix
import numpy as np
r1=int(input("Enter number of row in first matrix "))
c1=int(input("Enter number of coloumn in first matrix "))
r2=int(input("Enter number of row in second matrix "))
c2=int(input("Enter number of coloumn in second matrix "))
mat1=[]
mat2=[]
mul=[]
for i in range(r1):
    a=[]
    for i in range(c1):
        a.append(int(input()))
    mat1.append(a)    
for i in range(r2):
    b=[]
    for i in range(c2):
        b.append(int(input()))
    mat2.append(b)        
if c1==r2:
    mul=np.dot(mat1,mat2)
for i in range(r1):
    for j in range(c1):
        print(mul[i][j],end=' ')
    print()

In [5]:
# 41.) sort words by alphabetically order
s=input("Enter a string ")
li=[]
li=s.split()
li.sort()
print(li)

Enter a string aman naman shyam ram monu sonu
['aman', 'monu', 'naman', 'ram', 'shyam', 'sonu']

In [10]:
# 42.)illustrate diffrent set operation

a={10,20,30,40,50,60,70}
b={33,44,51,10,20,50,30,33}
print(a|b)        #union of two set
print(a&b)        #intersection of two set
print(a-b)         #difference of two set
print(b-a)
print(a^b)
print(a>=b)
print(b<=a)
print(a )

{33, 70, 40, 10, 44, 50, 51, 20, 60, 30}
{10, 50, 20, 30}
{40, 60, 70}
{33, 51, 44}
{70, 33, 40, 44, 51, 60}
False
False
{70, 40, 10, 50, 20, 60, 30}

In [1]:
# 47.) print pyramid pattern
for i in range(6):
    for j in range(6-i):
        print(end=" ")
    for k in range(i):
        print("*",end="")
    for l in range(i-1):
        print("*",end='')
    print()

     *
    ***
   *****
  *******
 *********

In [7]:
# 48.) merge two dictonaries
d1={1:"ram",2:"shyam",3:"aakash"}
d2={4:"naina",5:"ankita",6:"akanksha"}
d={}
d={**d1,**d2}
print(d)

{1: 'ram', 2: 'shyam', 3: 'aakash', 4: 'naina', 5: 'ankita', 6: 'akanksha'}

In [8]:
# 50.)access index of a list using for loop 
l1=[1,7,8,34,78,25,9,98,32,17]
for i in range(len(l1)):
    print(l1[i])

1
7
8
34
78
25
9
98
32
17

In [11]:
# 52.) slice a list

lis=[23,45,67,89,24,56,78,84,12,30,27,63]
print(lis[::])
print(lis[5:])
print(lis[:8])

[23, 45, 67, 89, 24, 56, 78, 84, 12, 30, 27, 63]
[56, 78, 84, 12, 30, 27, 63]
[23, 45, 67, 89, 24, 56, 78, 84]

In [12]:
# 53.) iterate over dictionaries using for loop 
d={1:'rajnish',2:'utkarsh',3:'satyam', 4:'shadab', 5:'shailesh'}
for key in d:
    print(key,'correspond to ',d[key])

1 correspond to  rajnish
2 correspond to  utkarsh
3 correspond to  satyam
4 correspond to  shadab
5 correspond to  shailesh

In [13]:
# 54.) sort a dictionary by value

di={1:'apple',2:'orange',3:'banana',4:'grapes',5:'mango',6:'human',7:'animal'}
d1=sorted(di.values())
print(d1)

['animal', 'apple', 'banana', 'grapes', 'human', 'mango', 'orange']

In [14]:
# 55.) check a list empty or not
lst=[]
if not lst:
    print("list is empty")

list is empty

In [1]:
# 58.) concatnate two list

l1=[1,3,5,7,9,11]
l2=[2,4,6,8,10]
l3=[]
l3=l1+l2
print(sorted(l3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
# ASCII value of a charecter
c=input("Enter any charcter ")
print(ord(c))

Enter any charcter a
97